.tmp
.idea
BuildPipeline/bin
BuildPipeline/obj
BuildPipeline/BuildPipeline.csproj.DotSettings
ResourceMonitor/bin
ResourceMonitor/obj
Core.Common/bin
Core.Common/obj
Core.Common.Tests/bin
Core.Common.Tests/obj
.teamcity/target
.teamcity/GameSystem_dsl.iml
