.tmp
.idea
.teamcity/target
.teamcity/GameSystem_dsl.iml
BuildPipeline/bin
BuildPipeline/obj
BuildPipeline/BuildPipeline.csproj.DotSettings
ResourceMonitor/bin
ResourceMonitor/obj
Core.Common/bin
Core.Common/obj
Core.Common.Tests/bin
Core.Common.Tests/obj
Core.Client/bin
Core.Client/obj
Core.Client.ConsoleClient/bin
Core.Client.ConsoleClient/obj
Core.Service/bin
Core.Service/obj
Core.Service.Tests/bin
Core.Service.Tests/obj
Clicker.Common/bin
Clicker.Common/obj
Clicker.Tests/bin
Clicker.Tests/obj
Clicker.ConsoleClient/bin
Clicker.ConsoleClient/obj
